*,*:after,*:before {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility
}
html {
	font-size:62.5%
}
body {
	font:300 12px Tahoma,Arial,sans-serif;
	line-height:20px;
	color:#444
}
.clear:before,.clear:after {
	content:' ';
	display:table
}
.clear:after {
	clear:both
}
.clear {
	*zoom:1
}
img {
	max-width:100%;
	vertical-align:bottom
}
li {
	list-style:none
}
a {
	color:#444;
	text-decoration:none
}
a:hover {
	color:#d53f40
}
a:focus {
	outline:0
}
a:hover,a:active {
	outline:0
}
input:focus {
	outline:0;
	border:1px solid #04a4cc
}
h1 {
	font-size:14px;
	color:#d53f40;
	margin:0 10px 12px 10px
}
.loadie {
	position:absolute;
	top:0;
	left:0;
	background-color:#000;
	width:0;
	height:4px;
	-webkit-transition:width .5s ease-out;
	box-shadow:0 1px 5px rgba(0,0,0,0.25)
}
.fbinfo {
	background-color:#f9f9f9;
	border-left:8px solid #bfcada;
	padding:10px;
	margin:10px 0
}
.btn-button {
	background-color:#3bb3e0;
	background-image:-moz-linear-gradient(center bottom,#2ca0ca 0,#3eb8e5 100%);
	border:1px solid #186f8f;
	border-radius:5px 5px 5px 5px;
	box-shadow:0 1px 0 #7fd2f1 inset,0 1px 0 #fff;
	color:#fff;
	font-family:'Open Sans',sans-serif;
	font-size:12px;
	padding:10px;
	position:relative;
	text-decoration:none
}
.btn-button:hover {
	background-image:-moz-linear-gradient(center bottom,#3eb8e5 0,#2ca0ca 100%);
	padding:11px 10px 9px;
	top:1px;
	color:#fff
}
.wrapper {
	max-width:1600px;
	width:100%;
	margin:0 auto;
	position:relative
}
.header-content {
	position:relative
}
.logo a {
	background:url("img/spire.png") no-repeat scroll 0 -61px rgba(0,0,0,0);
	display:block;
	height:40px;
	left:43px;
	position:absolute;
	text-indent:-9999px;
	top:3px;
	width:225px
}
#h-top {
	background:none repeat scroll 0 0 #438eb9;
	border:0 none;
	border-radius:0;
	box-shadow:none;
	margin:0;
	min-height:45px;
	padding-left:0;
	padding-right:0;
	left:0;
	margin-bottom:0;
	min-width:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:10
}
.main-content {
	margin-left:190px;
	margin-right:0;
	margin-top:0;
	min-height:100%;
	padding:0;
	position:relative
}
.nav {
	background-color:#f5f5f5;
	border-bottom:1px solid #e5e5e5;
	display:block;
	min-height:41px;
	padding:0 12px 0 0;
	position:fixed;
	top:45px;
	width:100%;
	z-index:10
}
ul.sub-menu {
	display:none
}
.home-icon {
	font-size:20px;
	left:18px;
	position:absolute;
	top:4px
}
div.menu ul {
	padding-left:40px !important
}
img.thumnail {
	border:1px solid #ccc;
	padding:2px;
	margin-right:10px
}
.menu ul li {
	float:left;
	padding:0 10px;
	line-height:12px
}
.menu ul li a {
	font-size:12px;
	font-weight:bold
}
#postswrapper,#main-container {
	position:relative;
	top:98px;
	padding:10px 10px 10px 20px;
	width:92%
}
#post-cat {
	padding:35px 10px 10px 0;
	top:98px;
	position:relative
}
#post-cat #postswrapper {
	top:0
}
#post-content {
	padding:10px 20px;
	position:relative;
	top:94px
}
.excerpt-read-more {
	background:none repeat scroll 0 0 #2d2d2d;
	border:0 none;
	color:#fff;
	display:inline-block;
	font-size:12px;
	font-weight:300;
	padding:5px 10px;
	text-decoration:none;
	text-transform:uppercase
}
a.excerpt-read-more:hover {
	color:#fff;
	background:#40bad8
}
.post-img {
	text-align:center
}
.widget_text {
	margin-bottom:15px;
	clear:both
}
.related {
	padding-left:20px
}
.add-demo {
	background-color:#77d42a;
	border-radius:6px;
	color:#306108;
	display:block;
	font-size:13px;
	font-style:normal;
	height:26px;
	line-height:23px;
	margin:5px auto;
	padding:0;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-shadow:1px 1px 0 #aade7c;
	width:97px
}
.add-demo:hover {
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#5cb811),color-stop(1,#77d42a));
	background:-moz-linear-gradient(center top,#5cb811 5%,#77d42a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811',endColorstr='#77d42a');
	background-color:#5cb811
}
.add-demo a:hover {
	color:#fff;
	text-shadow:none
}
#loadmoreajaxloader {
	clear:both;
	position:absolute;
	bottom:10px
}
article a {
	color:#1e8bc3
}
.top-pagination {
	margin:30px 0
}
.sidebar {
	-moz-border-bottom-colors:none;
	-moz-border-left-colors:none;
	-moz-border-right-colors:none;
	-moz-border-top-colors:none;
	background-color:#f2f2f2;
	border-color:#ccc;
	border-image:none;
	border-style:solid;
	border-width:0 1px 0 0;
	float:left;
	position:fixed;
	width:190px;
	min-height:100%;
	top:45px
}
.sidebar-shortcuts {
	background-color:#fafafa;
	border-bottom:1px solid #ddd;
	line-height:39px;
	margin-bottom:0;
	max-height:41px;
	text-align:center
}
.sidebar-shortcuts-large {
	padding-bottom:4px
}
.sidebar-shortcuts-large>.btn {
	border-width:4px;
	line-height:24px;
	margin-top:-2px;
	padding:0;
	text-align:center;
	width:40px
}
.sidebar-collapse-left:before,.sidebar-collapse-right:before {
	border-top:1px solid #e0e0e0;
	content:"";
	display:inline-block;
	height:0;
	left:15px;
	position:absolute;
	right:15px;
	top:13px
}
.sidebar-collapse-left,.sidebar-collapse-right {
	background-color:#f3f3f3;
	border-bottom:1px solid #e0e0e0;
	padding:3px 0;
	position:relative;
	text-align:center
}
.sidebar-collapse-left>[class*="icon-"],.sidebar-collapse-right>[class*="icon-"] {
	background-color:#fff;
	border:1px solid #bbb;
	border-radius:16px;
	color:#aaa;
	cursor:pointer;
	display:inline-block;
	font-size:14px;
	line-height:18px;
	padding:0 5px;
	position:relative
}
.menu-min.sidebar:before {
	width:43px
}
.menu-min.sidebar {
	width:44px
}
.menu-min .sidebar-shortcuts {
	position:relative
}
.menu-min.sidebar+.main-content {
	margin-left:44px
}
.menu-min .nav-list>li>a {
	position:relative
}
.menu-min .sidebar_title .title-text {
	display:none;
	position:absolute;
	left:42px;
	top:-2px;
	width:174px;
	height:40px;
	line-height:38px;
	background-color:#f5f5f5;
	z-index:121;
	-webkit-box-shadow:2px 1px 2px 0 rgba(0,0,0,0.2);
	box-shadow:2px 1px 2px 0 rgba(0,0,0,0.2);
	border:1px solid #ccc;
	padding-left:12px;
	transition:all 1s
}
.menu-min .sidebar_title:hover .title-text {
	display:block
}
.sidebar-collapse-right {
	display:none
}
.menu-min .nav-list>li>a.menu-text {
	z-index:999;
	transition:all .4s ease-in-out;
	-webkit-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-in-out;
	-0-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	width:43px;
	overflow:hidden
}
.menu-min .nav-list>li>a.menu-text:hover {
	width:150px;
	border:1px solid #ccc;
	padding-left:12px
}
.btn-success,.btn-success:focus {
	background-color:#8484c5 !important;
	border-color:#87b87f
}
.youtube {
	background:#C00
}
.btn-info,.btn-info:focus {
	background-color:#6fb3e0 !important;
	border-color:#6fb3e0
}
.btn-warning,.btn-warning:focus {
	background-color:#ffb752 !important;
	border-color:#ffb752
}
.btn-danger,.btn-danger:focus {
	background-color:#d15b47 !important;
	border-color:#d15b47
}
.btn {
	background-image:none !important;
	border:5px solid #fff;
	border-radius:0;
	box-shadow:none !important;
	color:#fff !important;
	cursor:pointer;
	display:inline-block;
	margin:0;
	position:relative;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25) !important;
	transition:all .15s ease 0;
	vertical-align:middle;
	font-size:17px
}
.btn:hover {
	background:#999 !important
}
h1.sidebar_title {
	background:none repeat scroll 0 0 #fff;
	border-bottom:1px solid #ccc;
	color:#2b7dbc;
	font-size:14px;
	line-height:34px;
	margin:0;
	padding:0 10px;
	position:relative
}
h1.sidebar_title:after {
	-moz-border-bottom-colors:none;
	-moz-border-left-colors:none;
	-moz-border-right-colors:none;
	-moz-border-top-colors:none;
	bottom:0;
	content:"";
	display:inline-block;
	position:absolute;
	right:-2px;
	top:-1px;
	z-index:1
}
h1.sidebar_title span:after {
	-moz-border-bottom-colors:none;
	-moz-border-left-colors:none;
	-moz-border-right-colors:none;
	-moz-border-top-colors:none;
	border-color:rgba(0,0,0,0) #2b7dbc rgba(0,0,0,0) rgba(0,0,0,0);
	border-image:none;
	border-style:solid;
	border-width:14px 10px;
	content:"";
	display:block;
	position:absolute !important;
	right:0;
	top:4px
}
.clearfix {
	clear:both
}
.widget_recentpoststhumnail ul {
	margin:0;
	padding:0
}
span.category a {
	background:none repeat scroll 0 0 #40bad8;
	color:#fff;
	display:inline-block;
	font-size:10px;
	padding:0 10px;
	text-decoration:none;
	text-transform:uppercase;
	transition:all .3s ease 0
}
li.category-post {
	clear:both;
	margin-bottom:10px;
	display:inline-block
}
.category-post img {
	float:left;
	margin-right:10px
}
.tptn-content {
	float:left;
	width:170px
}
.tptn-content a {
	font-weight:bold
}
.social-fb,.social-twitter,.social-gplus,.social-linkedin {
	margin-bottom:10px;
	text-align:left
}
code {
	background-color:#ececec;
	border:1px solid #ccc;
	padding:3px 8px;
	text-shadow:1px 1px #fff;
	border-radius:3px
}
span.roll {
	opacity:1;
	-o-transition-duration:1s;
	-moz-transition-duration:1s;
	-webkit-transition:-webkit-transform 1s;
	background:#22313f;
	cursor:pointer;
	height:158px;
	width:189px;
	position:absolute;
	z-index:10;
	opacity:0
}
span.roll:hover {
	opacity:.9;
	-o-transition-duration:1s;
	-moz-transition-duration:1s;
	-webkit-transition:-webkit-transform 1s;
	-webkit-box-shadow:0 0 4px #000;
	-moz-box-shadow:0 0 4px #000;
	box-shadow:0 0 4px #000
}
.nav-list {
	padding:0;
	margin:0
}
.nav-list>li {
	display:block;
	padding:0;
	margin:0;
	border:0;
	border-top:1px solid #fcfcfc;
	border-bottom:1px solid #e5e5e5;
	position:relative
}
.nav-list>li>a span {
	background:url("img/spire.png") no-repeat scroll 0 0 rgba(0,0,0,0);
	display:block;
	float:left;
	height:21px;
	margin:5px 4px;
	width:22px;
	transition:all .15s ease 0
}
.nav-list>li.menu-item-joomla a span {
	background-position:0 -30px
}
.nav-list>li.menu-item-joomla a:hover span,.nav-list>li.menu-item-joomla.current-menu-item a span {
	background-position:0 0
}
.nav-list>li.menu-item-blog a span {
	background-position:-28px -30px
}
.nav-list>li.menu-item-blog a:hover span,.nav-list>li.menu-item-blog.current-menu-item a span {
	background-position:-28px 0
}
.nav-list>li.menu-item-wp a span {
	background-position:-57px -30px
}
.nav-list>li.menu-item-wp a:hover span,.nav-list>li.menu-item-wp.current-menu-item a span {
	background-position:-57px 0
}
.nav-list>li.menu-item-css a span {
	background-position:-85px -30px
}
.nav-list>li.menu-item-css a:hover span,.nav-list>li.menu-item-css.current-menu-item a span {
	background-position:-85px 0
}
.nav-list>li.menu-item-html a span {
	background-position:-112px -30px
}
.nav-list>li.menu-item-html a:hover span,.nav-list>li.menu-item-html.current-menu-item a span {
	background-position:-112px 0
}
.nav-list>li.menu-item-js a span {
	background-position:-140px -30px
}
.nav-list>li.menu-item-js a:hover span,.nav-list>li.menu-item-js.current-menu-item a span {
	background-position:-140px 0
}
.nav-list>li.menu-item-php a span {
	background-position:-173px -30px
}
.nav-list>li.menu-item-php a:hover span,.nav-list>li.menu-item-php.current-menu-item a span {
	background-position:-173px 0
}
.nav-list>li.menu-item-sql a span {
	background-position:-199px -30px
}
.nav-list>li.menu-item-sql a:hover span,.nav-list>li.menu-item-sql.current-menu-item a span {
	background-position:-199px 0
}
.nav-list>li.menu-item-ps a span {
	background-position:-226px -30px
}
.nav-list>li.menu-item-ps a:hover span,.nav-list>li.menu-item-ps.current-menu-item a span {
	background-position:-226px 0
}
.nav-list>li.menu-item-fb a span {
	background-position:-254px -30px
}
.nav-list>li.menu-item-fb a:hover span,.nav-list>li.menu-item-fb.current-menu-item a span {
	background-position:-254px 0
}
.nav-list>li.menu-item-seo a span {
	background-position:-283px -30px
}
.nav-list>li.menu-item-seo a:hover span,.nav-list>li.menu-item-seo.current-menu-item a span {
	background-position:-283px 0
}
.nav-list>li.menu-item-theme a span {
	background-position:-309px -30px
}
.nav-list>li.menu-item-theme a:hover span,.nav-list>li.menu-item-theme.current-menu-item a span {
	background-position:-309px 0
}
.nav-list>li>a {
	background:none repeat scroll 0 0 #f9f9f9;
	color:#585858;
	display:block;
	font-size:13px;
	height:32px;
	line-height:29px;
	padding:0 16px 0 0;
	text-decoration:none;
	text-shadow:none !important
}
.nav-list>li>a:focus {
	background-color:#f9f9f9;
	color:#1963aa
}
.nav-list>li>a:hover {
	background-color:#fff;
	color:#1963aa
}
.nav-list>li>a i {
	background:none repeat scroll 0 0 #efefef;
	border:1px solid #ddd;
	border-radius:9px;
	font-style:normal;
	margin:0 10px;
	padding:2px 7px 2px 4px;
	font-size:11px
}
.main-entry {
	margin-right:330px;
	text-align:justify
}
h1.headline {
	font-size:20px
}
.fb {
	border:1px solid #ccc;
	height:206px;
	overflow:hidden
}
.title {
	height:35px;
	position:relative;
	width:100%
}
.title h3 {
	background:none repeat scroll 0 0 #fff;
	display:inline-block;
	font-size:16px;
	left:10px;
	line-height:0;
	margin:0;
	padding:10px;
	position:absolute;
	top:0;
	z-index:1;
	color:#e74c3c
}
.title .line {
	border-bottom:5px solid #2d2d2d;
	left:0;
	position:absolute;
	top:8px;
	width:100%;
	z-index:0
}
input[type="search"] {
	-moz-box-sizing:content-box;
	height:25px;
	margin:7px 0 5px 276px;
	width:520px;
	background:url("img/spire.png") no-repeat scroll 498px -98px #fff;
	-webkit-transition:all .30s ease-in-out;
	-moz-transition:all .30s ease-in-out;
	-ms-transition:all .30s ease-in-out;
	-o-transition:all .30s ease-in-out;
	border:0
}
input[type="search"]:focus {
	box-shadow:0 0 9px rgba(81,203,238,1)
}
button.search-submit {
	height:33px
}
.cover {
	background:none repeat scroll 0 0 #fff;
	border-radius:3px;
	box-shadow:0 1px 3px rgba(0,0,0,0.3);
	margin:0 22px 22px 0;
	position:relative;
	width:189px;
	float:left;
	-webkit-transition:top 1s ease,left 1s ease;
	-moz-transition:top 1s ease,left 1s ease;
	-o-transition:top 1s ease,left 1s ease;
	-ms-transition:top 1s ease,left 1s ease
}
.cover-collapse {
	margin:0 11px 11px 0
}
.cfix:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	line-height:0;
	overflow:hidden;
	visibility:hidden
}
.cover-img {
	border-radius:3px 3px 0 0;
	height:158px;
	width:189px;
	display:block;
	overflow:hidden;
	position:relative
}
.excerpt {
	padding:5px;
	color:#fff
}
h2.cover-name {
	margin:0
}
h2.cover-name a {
	color:#2b7dbc;
	font-size:12px;
	transition:color .2s linear 0
}
h2.cover-name a:hover {
	color:#d53f40
}
.p-detail {
	margin:10px 0
}
.p-detail a,.p-detail {
	color:#999;
	font-size:11px
}
.cover-info {
	padding:5px 10px 31px
}
.cover-stat-wrap {
	background-color:#f6f6f6;
	border-radius:0 0 3px 3px;
	border-top:1px solid #e7e7e7;
	box-shadow:0 1px 0 0 #fff inset;
	padding:7px 8px 8px;
	position:absolute;
	bottom:0;
	width:100%;
	font-size:11px
}
.infobox-icon {
	margin:0 2px
}
.infobox-icon>[class*="icon-"] {
	background-color:rgba(0,0,0,0);
	border:0 none;
	border-radius:100%;
	box-shadow:1px 1px 0 rgba(0,0,0,0.2);
	display:inline-block;
	height:20px;
	width:20px;
	margin:0;
	padding:1px 1px 0 2px;
	position:relative;
	text-align:center;
	background:#797979
}
[class*="icon-"] {
	margin:0 5px
}
.date [class*="icon-"],.author [class*="icon-"] {
	font-size:14px
}
.icon-calendar {
	color:#9abc32
}
.icon-user {
	color:#d53f40
}
.infobox-icon>[class*="icon-"]:before {
	background-color:rgba(255,255,255,0.2);
	border-radius:100%;
	color:rgba(255,255,255,0.9);
	display:block;
	font-size:12px;
	padding:1px 0 2px;
	text-align:center;
	text-shadow:1px 1px 1px rgba(0,0,0,0.14);
	width:16px
}
.post-title {
	color:#333
}
.pagination {
	clear:both;
	position:absolute;
	bottom:0
}
.page-numbers {
	border:1px solid #ccc;
	padding:5px 10px;
	background:#76858e;
	color:#fff
}
.pagination span.current {
	background:#3a87ad
}
.pagination a.next {
	background:#f0ad4e
}
h1.heading {
	position:absolute;
	top:0
}
.tags {
	clear:both
}
.tags a {
	background:linear-gradient(to bottom,#fcfcfc,#f0f0f0) repeat scroll 0 0 #fafafa;
	border-color:#dadada #d15813 #d2d2d2 #c5c5c5;
	border-radius:3px;
	border-style:solid;
	border-width:1px 3px 1px 1px;
	box-shadow:0 0 0 1px rgba(255,255,255,0.7) inset,0 1px 2px rgba(0,0,0,0.05);
	color:#555;
	font-size:12px;
	height:26px;
	line-height:23px;
	padding:4px 10px;
	text-decoration:none;
	text-shadow:0 1px #fff;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}
.tags a:hover {
	color:#222
}
.related {
	width:100%
}
.related ul li {
	float:left;
	list-style:none outside none;
	margin-right:10px;
	width:140px;
	min-height:190px;
	text-align:left
}
.related ul li img {
	border:1px solid #ccc;
	padding:2px
}
.related ul li a {
	font-weight:bold;
	margin:5px 0;
	display:block
}
.right-bar {
	position:absolute;
	top:0;
	right:20px;
	width:300px
}
.related ul {
	margin:0;
	padding:0
}
ul#cloud {
	margin:0;
	padding-left:5px
}
ul#cloud li {
	list-style:none;
	float:left;
	margin:5px 2px
}
ul#cloud li a {
	background:#86959e;
	padding:3px 5px;
	color:#fff;
	border-radius:7px;
	font-size:11px
}
ul#cloud li a:hover {
	background:#63727b
}
.ui-autocomplete span.hl_results {
	background-color:#ff6
}
.ui-autocomplete-loading {
	background:white url('img/loading.gif') right center no-repeat
}
.ui-autocomplete {
	max-height:250px;
	overflow-y:auto;
	overflow-x:hidden;
	padding-right:5px;
	background:#fbfbfb !important
}
.ui-autocomplete li {
	padding:3px 0 !important;
	font-size:14px;
	border-bottom:1px solid #eee;
	background:-moz-linear-gradient(top,rgba(255,255,255,1) 0,rgba(247,247,247,1) 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255,255,255,1)),color-stop(100%,rgba(247,247,247,1)));
	background:-webkit-linear-gradient(top,rgba(255,255,255,1) 0,rgba(247,247,247,1) 100%);
	background:-o-linear-gradient(top,rgba(255,255,255,1) 0,rgba(247,247,247,1) 100%);
	background:-ms-linear-gradient(top,rgba(255,255,255,1) 0,rgba(247,247,247,1) 100%);
	background:linear-gradient(top,rgba(255,255,255,1) 0,rgba(247,247,247,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f7f7f7',GradientType=0);
	cursor:pointer;
	clear:both !important;
	height:43px
}
.ui-autocomplete li span {
	background:none repeat scroll 0 0 #eee;
	border-bottom:1px solid #eee;
	border-right:1px solid #eee;
	color:#888;
	display:block;
	float:left;
	font-size:15px;
	font-weight:800;
	margin-right:7px;
	padding:3px 0;
	text-align:center;
	width:35px
}
.ui-autocomplete li:hover a {
	padding:3px 7px
}
.ui-autocomplete li:hover span {
	background:#d53f40;
	color:#fff
}
* html .ui-autocomplete {
	height:250px
}
#infinity-footer {
	background:none repeat scroll 0 0 #1f1f1f;
	border-top:1px solid #303030;
	bottom:0;
	height:32px;
	left:0;
	position:fixed;
	width:100%;
	z-index:5;
	color:#ccc;
	text-align:center
}
/*! normalize.css v1.0.1 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {
	display:block
}
audio,canvas,video {
	display:inline-block;
	*display:inline;
	*zoom:1
}
audio:not([controls]) {
	display:none;
	height:0
}
[hidden] {
	display:none
}
html {
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}
html,button,input,select,textarea {
	font-family:sans-serif
}
body {
	margin:0
}
a:focus {
	outline:thin dotted
}
a:active,a:hover {
	outline:0
}
abbr[title] {
	border-bottom:1px dotted
}
b,strong {
	font-weight:bold
}
blockquote {
	margin:1em 40px
}
dfn {
	font-style:italic
}
mark {
	background:#ff0;
	color:#000
}
p,pre {
	margin:1em 0
}
code,kbd,pre,samp {
	font-family:monospace,serif;
	_font-family:'courier new',monospace;
	font-size:1em
}
pre {
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word
}
q {
	quotes:none
}
q:before,q:after {
	content:'';
	content:none
}
small {
	font-size:80%
}
sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sup {
	top:-0.5em
}
sub {
	bottom:-0.25em
}
dl,menu,ol,ul {
	margin:1em 0
}
dd {
	margin:0 0 0 40px
}
menu,ol,ul {
	padding:0
}
nav ul,nav ol {
	list-style:none;
	list-style-image:none
}
img {
	border:0;
	-ms-interpolation-mode:bicubic
}
svg:not(:root) {
	overflow:hidden
}
figure {
	margin:0
}
form {
	margin:0
}
fieldset {
	border:1px solid silver;
	margin:0 2px;
	padding:.35em .625em .75em
}
legend {
	border:0;
	padding:0;
	white-space:normal;
	*margin-left:-7px
}
button,input,select,textarea {
	font-size:100%;
	margin:0;
	vertical-align:baseline;
	*vertical-align:middle
}
button,input {
	line-height:normal
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer;
	*overflow:visible
}
button[disabled],input[disabled] {
	cursor:default
}
input[type="checkbox"],input[type="radio"] {
	box-sizing:border-box;
	padding:0;
	*height:13px;
	*width:13px
}
input[type="search"] {
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none
}
button::-moz-focus-inner,input::-moz-focus-inner {
	border:0;
	padding:0
}
textarea {
	overflow:auto;
	vertical-align:top
}
table {
	border-collapse:collapse;
	border-spacing:0
}
@font-face {
	font-family:'Font-Name';
	src:url('fonts/font-name.eot');
	src:url('fonts/font-name.eot?#iefix') format('embedded-opentype'),url('fonts/font-name.woff') format('woff'),url('fonts/font-name.ttf') format('truetype'),url('fonts/font-name.svg#font-name') format('svg');
	font-weight:normal;
	font-style:normal
}
::selection {
	background:#04a4cc;
	color:#FFF;
	text-shadow:none
}
::-webkit-selection {
	background:#04a4cc;
	color:#FFF;
	text-shadow:none
}
::-moz-selection {
	background:#04a4cc;
	color:#FFF;
	text-shadow:none
}
.alignnone {
	margin:5px 20px 20px 0
}
.aligncenter,div.aligncenter {
	display:block;
	margin:5px auto 5px auto
}
.alignright {
	float:right;
	margin:5px 0 20px 20px
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0
}
.aligncenter {
	display:block;
	margin:5px auto 5px auto
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px
}
a img.alignnone {
	margin:5px 20px 20px 0
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto
}
.wp-caption {
	background:#FFF;
	border:1px solid #f0f0f0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0
}
.wp-caption.alignright {
	margin:5px 0 20px 20px
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto
}
.wp-caption .wp-caption-text,.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px
}
@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important
	}
	a,a:visited {
		text-decoration:underline
	}
	a[href]:after {
		content:" (" attr(href) ")"
	}
	abbr[title]:after {
		content:" (" attr(title) ")"
	}
	.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
		content:""
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid
	}
	thead {
		display:table-header-group
	}
	tr,img {
		page-break-inside:avoid
	}
	img {
		max-width:100% !important
	}
	@page {
		margin:.5cm
	}
	p,h2,h3 {
		orphans:3;
		widows:3
	}
	h2,h3 {
		page-break-after:avoid
	}
}
