@charset "UTF-8";

/** 
 * Default Advanced CSS Drop-Down Menu Theme
 *
 * @file		default.advanced.css
 * @name		Default
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE5+, Opera9+, Firefox2+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2009 Live Web Institute. All Rights Reserved.
 *
 */

/*-------------------------------------------------/
 * @section		Base Drop-Down Styling
 */

.navigation {
	float:left;
	width:960px;
	height:37px;
	background-image:url(../images/navigation.gif);
	background-repeat:no-repeat;
}
ul.dropdown {
 font-size:13px;
 float:left;
 width:100%;
}

	ul.dropdown li {
	 padding: 11px 15px 8px 15px;
	 background-color: transparent;
	 color: #000;
	}

	ul.dropdown li.last ul li {
	 float: right;
	}
	ul.dropdown li.hover a {
		color:#fff;
	}
	ul.dropdown li.hover,
	ul.dropdown li:hover {
	 background-image:url(../images/navi_rol.gif);
	 background-repeat:repeat-x;
	 background-position:center top;
	 color:#FFF;
	}
	ul.dropdown li:hover a{
	 color:#FFF !important;
	}
	
ul.dropdown ul li a{
	 color:#000 !important;
	}

	ul.dropdown a:link,
	ul.dropdown a:visited	{ color: #fff; text-decoration: none; background-image:url(../images/navi_sep.gif);
	 background-repeat:no-repeat;
	 background-position:right; }
	ul.dropdown a:hover		{ color: #fff !important; }
	ul.dropdown a:active	{ color: #fff !important; }


	/* -- level mark -- */


		ul.dropdown  li {
		
		}
		ul.dropdown ul li {
		 background-image:none;
		}
		ul.dropdown li a{ 
		 color:#fff !important;
		}

		/* -- level mark -- */

		ul.dropdown ul ul {
		 margin-top: 5px;
		 text-transform: none;
		}

			ul.dropdown ul- ul li {
			 font-weight: normal;
			}


/*-------------------------------------------------/
 * @section		Support Class `dir`
 */


ul.dropdown *.dir {
}

ul.dropdown ul *.dir {

}


/*-------------------------------------------------/
 * @section		Base Style Extension
 */

ul.dropdown li a {
 display: block;
padding: 9px 22px 10px 10px;
}


/*-------------------------------------------------/
 * @section		Base Style Override
 */

ul.dropdown li {
 padding: 0;
}


/*-------------------------------------------------/
 * @section		Base Style Reinitiate: post-override activities
 */

ul.dropdown li.dir:hover {

}

ul.dropdown ul li.dir {
 padding: 0px;
 float:left;
 width:185px;
 margin-left:20px;

}
ul.dropdown ul li.dir ul li a{
 background-image:none;
 color:#000 !important;
}
ul.dropdown ul li.dir ul{
 padding: 0px 0px;
 margin-right:0px;
 float:left;
 width:200px;
}

/*-------------------------------------------------/
 * @section		Custom
 */
ul.dropdown .navihead{
 padding:5px 10px 5px 10px;
 width:165px;
 border-bottom:#dcdcdc solid 1px;
 margin-bottom:5px;
 z-index:999;
 float:left;
}
ul.dropdown ul {
 padding: 10px 0px;
 font-size: 12px;
}

ul.dropdown ul a {
 width: 130px;
 padding: 3px 5px 3px 15px;
 color:#000;
 font-style:normal;
 font-weight:normal;
}

ul.dropdown ul a:hover {
 text-decoration:underline;
}

ul.dropdown ul ul {
 padding: 0;
 margin-left: 0px;
 background:none;
}
ul.dropdown ul li:hover {
 background:none;
}






















ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
 list-style: none;
}

ul.dropdown {
 position: relative;
 z-index: 597;
 float: left;
}

ul.dropdown li {
 float: left;
 vertical-align: middle;

}

ul.dropdown li.hover,
ul.dropdown li:hover {
 position: relative;
 z-index: 599;
 cursor: default;
}

ul.dropdown ul.big {
 visibility: hidden;
 position: absolute;
 top: 100%;
 left: 0;
 margin-left:0px;
 z-index: 598;
 width: 954px;
 background-image:url(../images/dropdown.gif);
 background-repeat:repeat-x;
 background-position:top;
 background-color:#eaeaea;
}
ul.dropdown ul.bordergr {
 border:#8C0095 solid 3px;
}
ul.dropdown ul.small {

}
ul.dropdown ul.small {
 visibility: hidden;
 position: absolute;
 top: 100%;
 z-index: 598;
 width: 225px;
 background-image:url(../images/dropdown.gif);
 background-repeat:repeat-x;
 background-position:top;
 background-color:#eaeaea;
}
ul.dropdown ul li {
 float: none;
}
ul.dropdown ul ul {
 top: 1px;
 left: 99%;
}

ul.dropdown li:hover > ul {
 visibility: visible;
}

ul.dropdown-linear {
float:left;
}

ul.dropdown-linear ul li {
 float: left;
}

ul.dropdown-linear li.hover,
ul.dropdown-linear li:hover {
 position: static;
}

ul.dropdown-linear ul ul {
 display: none !important;
}


ul.dropdown-columnar ul li {
 position: static;
 width: auto;
}

ul.dropdown-columnar ul ul {
 display: block !important;
 position: static;
 width: auto !important;
}

ul.dropdown-columnar ul ul li {
 float: none;
}

ul.dropdown-columnar ul ul ul {
 display: none;
}

ul.dropdown-columnar li.hover ul,
ul.dropdown-columnar li:hover ul {
 visibility: visible !important;
}


.pad {
	padding:10px !important;
}
ul.dropdown ul li a{
	 color:#000 !important;
	}